<div class="container">
<h1 class="welcome-header">Welcome to Soul Share!</h1>
<p class="mt-4 text-lg text-center text-gray-600">This is the homepage of your music event platform.</p>

<% if user_signed_in? %>
  <div class="mt-6 text-center">
    <p class="greeting">Hello, <%= current_user.email %>!</p>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'logout-btn' %>
  </div>
<% else %>
  <div class="mt-6 text-center">
    <%= link_to 'Sign Up', new_user_registration_path, class: 'sign-up-btn' %>
    <%= link_to 'Login', new_user_session_path, class: 'login-btn' %>
  </div>
<% end %>
</div>
