@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .logout-btn {
    @apply inline-block px-6 py-2 mt-4 text-white bg-red-500 rounded-lg hover:bg-red-600;
  }

  .sign-up-btn {
    @apply px-6 py-2 text-white bg-green-500 rounded-lg hover:bg-green-600 mr-6;
  }

  .login-btn {
    @apply px-6 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600;
  }

  .greeting {
    @apply text-xl font-medium text-gray-800;
  }

  .welcome-header{
    @apply mt-10 text-4xl font-bold text-center text-blue-600;
  }

  .flash-msg-wrap {
    @apply relative rounded px-4 py-3 mb-4;
  }

  .notice {
    @apply text-green-700 bg-green-100 border-green-400;
  }

  .alert {
    @apply text-red-700 bg-red-100 border-red-400;
  }

  .info {
    @apply text-blue-700 bg-blue-100 border-blue-400;
  }

  .warning {
    @apply text-yellow-700 bg-yellow-100 border-yellow-400;
  }

}